  <!-- JQuery JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>

  <!-- Materialize JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js"></script>

  <!-- Selections -->
  <script type="text/javascript">
  $(document).ready(_ => {
    $("select").material_select();

    <% if (typeof page_length != "undefined") { %>
    $("#page_length").change(_ => {
      window.location.href = "/stream?page_length=" + $("#page_length").val() + "page=<%= page - 1 > 0? page - 1 : 0 %>";
    });
    <% } %>
  });
  </script>

  <!-- Materialize Parallax -->
  <script type="text/javascript">
    $(document).ready(_ => {
      $('.parallax').parallax();
    });
  </script>
  <% if (typeof session != "undefined" && typeof session.msg != "undefined") { %>

  <!-- Toast display -->
  <script type="text/javascript">
    $(document).ready(function() {
      Materialize.toast("<%= session.msg %>", 5000);
    });
  </script>
  <%
    session.msg = undefined;
  }
  %>

  </body>
</html>
