  <!-- JQuery JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>

  <!-- Materialize JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js"></script>


  <script type="text/javascript" src="/javascript/main.js"></script>

  <!-- Selections & ajax link-->
  <script type="text/javascript">
  function change_page(page) {
    $("[name='page']").val(page);
    $("form").submit();
  }

  $(document).ready(function() {
    <% if (typeof page_length != "undefined") { %>
    $("#page_length").change(function() {
      window.location.href = "/stream/" + $("#page_length").val() + "/<%= page - 1 > 0? page - 1 : 0 %>";
    });
    <% } %>
  });
  </script>


  <% if (typeof session != "undefined" && typeof session.msg != "undefined") { %>
  <!-- Toast display -->
  <script type="text/javascript">
    $(document).ready(function() {
      Materialize.toast("<%= session.msg %>", 5000);
    });
  </script>
  <%
    session.msg = undefined;
  }
  %>

  </body>
</html>
