  <!-- JQuery JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>

  <!-- Materialize JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js"></script>

  <!-- Selections & ajax link-->
  <script type="text/javascript">
  $(document).ready(_ => {
    $("select").material_select();

    <% if (typeof page_length != "undefined") { %>
    $("#page_length").change(_ => {
      window.location.href = "/stream/" + $("#page_length").val() + "/<%= page - 1 > 0? page - 1 : 0 %>";
    });
    <% } %>

    // Clicking of most of the stream frame
    $(".stream-link p, .stream-link img, .stream-link span").click(function() {
      window.open($(this).parent().attr("data-url"), "_blank");
    });

    $(".ajax-link").click(function() {
      $.post({
        url: $(this).attr("data-route"),
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({
          'url': $(this).attr("data-url"),
          'feed': $(this).attr("data-feed")
        }),
        success: function(data, status, jqXHR) {
          Materialize.toast(data, 5000);
        },
        error: function(data, status, jqXHR) {
          console.log(data.responseText);
        }
      });
    });
  });
  </script>

  <!-- Stream page previous/next buttons -->
  <script type="text/javascript">
    function change_page(page) {
      $("[name='page']").val(page);
      $("form").submit();
    }
  </script>

  <!-- Materialize Stuff -->
  <script type="text/javascript">
    $(document).ready(_ => {
      $('.parallax').parallax();
      $("select").material_select();
      $(".button-collapse").sideNav(); // init sidenav bar for mobile
    });
  </script>

  <% if (typeof session != "undefined" && typeof session.msg != "undefined") { %>
  <!-- Toast display -->
  <script type="text/javascript">
    $(document).ready(function() {
      Materialize.toast("<%= session.msg %>", 5000);
    });
  </script>
  <%
    session.msg = undefined;
  }
  %>

  </body>
</html>
