<div class="col s12 m3 setting-nav">
  <div class="row">
    <ul>
      <div class="col s6 m12">
        <li><a class="setting-btn waves-effect waves-light btn" href="/user">General</a></li>
      </div>
      <div class="col s6 m12">
        <li><a class="setting-btn waves-effect waves-light btn" href="/user/tokens">Tokens</a></li>
      </div>
    </ul>
  </div>
</div>
