@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	width: 100%;
	height: 100%;
}

.brand-logo {
	padding-left: 1em !important;
}

h3 {
	font-size: 1.3em;
}

.homepage-wrapper {
	p {
		padding-left: 1em;
		text-size: 1.5em;
	}
}

.hacky-shadow-fix {
	color: white;
}

.parallax-container {
  height: 500;
}
