@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	width: 100%;
	height: 100%;
}

.brand-logo {
	padding-left: 1em !important;
}

h1 {
	font-size: 3em;
}

h3 {
	font-size: 1.25em;
}
