html, body {
  width: 100%;
  height: 100%;
}

.homepage-wrapper p {
  padding-left: 1em;
}

.parallax-container {
   height: 500px;
 }

.collection-item-link {
  text-decoration: none;
  color: inherit;
}

.collection-item:hover {
  background-color: #f2f2f2 !important;
}

.secondary-content {
  float: right;
}
