<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col s12 center">
      <h3>Access Denied</h3>
      <p>Sorry lovely user but you do not have permission to access this.</p>
      <br>
      <p>Thank you. Come again.</p>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>
