<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col s12 center">
      <h3>Not Found</h3>
      <p>Sorry lovely user but that URL honestly does not exist. <br> We promise we aren't sweeping the good stuff under the rug!</p>
      <br>
      <p>Thank you. Please do not come to this URL again.</p>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>
