<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RSS Aggregator">
    <meta name="author" content="Team DkIT">

    <title>Feedlark</title>
  </head>

  <body>
    <div>
      <h3>Insert professional but humourous title here!</h3>
      <p>This just in! You (or someone) made an account on <a href="http://www.feedlark.com">feedlark.com</a>! This is your activation email. Click the big link below to activate your account.</p>
      <h2><a href="http://www.feedlark.com/user/verify/<%= token %>">The Big Link</a></h2>
      <p>If it wasn't you, well hey! Whoever is trying to steal your identity was doing the right thing signing up to Feedlark. It's the coolest content aggregation service on the web. Maybe you should give us a visit sometime?</p>
      <br />
      <p>Regards</p>
      <p>The Feedlark Team</p>
    </div>
  </body>
</html>
