<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Add a feed</h3>
    </div>
  </div>
  <table class="striped">
    <tbody>
      <tr>
        <th data-field="id">URL</th>
        <th data-field="name" style="width: 10%; text-align: right;">Remove?</th>
      </tr>
      <% for (var i = 0; i < subscribed_feeds.length; i++) { %>
      <tr>
        <td>
          <%= subscribed_feeds[i] %>
        </td>
        <td>
          <a href="/feeds/remove?url=<%= subscribed_feeds[i] %>" class="waves-effect waves-circle waves-light btn-floating secondary-content">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
      <% } %>
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a href="/feeds/add" class="btn-floating btn-large red waves-light">
          <i class="large material-icons">add</i>
        </a>
      </div>
    </tbody>
  </table>
</div>
<% include partials/footer.ejs %>
