<!-- Default home page -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>

	<div class="header">
		<div class="links">
			<a href="login">Login</a>
		</div>
		<h1>Feedlark</h1>
		<h3>Feed reader</h3>
	</div>
	<div class="main homepage">
		<div class="propaganda">
			<h2>All your feeds</h2>
			<h3>In one place</h3>
			<p>Feedlark provides a convenient way to organise, filter and read all your favourite news, memes, comics and gossip.</p>
			<p>We can help you find the articles you want to read, when you want to read them.</p>
		</div>
		<hr />
		<div class="propaganda">
			<h2>Sign up today!</h2>
			<h3>Free - No fees, No microtransactions, No smallprint</h3>
			<p>Create your own free account today and start adding your own feeds.</p>
		</div>
	</div>
	</div>
</div>
