<div class="container">
	<div class="row">
		<div class="col s6">
			<h4>All your feeds in one place</h4>
			<p>Feedlark provides a convenient way to organise, filter and read all your favourite news, memes, comics and gossip.</p>
			<p>We can help you find the articles you want to read, when you want to read them.</p>
		</div>
		<div class="col s6">
			<h4>Sign up today!</h4>
			<h6>Free - No fees, No microtransactions, No smallprint</h6>
			<p>Create your own free account today and start adding your own feeds.</p>
		</div>
	</div>
</div>
