<% include partials/header.ejs %>
    <div class="homepage-wrapper">
      <div class="container">
        <div class="row section white">
          <div class="col s8 offset-s2">
            <h3>All your feeds in one place</h3>
            <p>Feedlark is a tool that lets you unify your news into one place.<br>
            Simply add an RSS or Atom feed and see your favourite articles appear!
            </p>
          </div>
        </div>
      </div>

      <div class="parallax-container">
        <div class="responsive-img parallax">
          <img src="/images/banner.png">
        </div>
      </div>

      <div class="container">
        <div class="row section white">
          <div class="col s8 offset-s2">
            <h3>Smart</h3>
            <p>If you tell us what you like or dislike and we can tailor your
            stream to you personally.<br>
            We will sort your feed: highlighting aricles on the subjects you
            care about.

            <h3>Free</h3>
            <p><b>No</b> ads. Feedlark is, and always will be, <b>free</b>.</p>
          </div>
        </div>
      </div>

      <div class="parallax-container">
        <div class="responsive-img parallax">
          <img src="/images/banner2.png">
        </div>
      </div>

      <div class="container">
        <div class="row section white">
          <div class="col s8 offset-s2">
            <h3>Not evil</h3>
            <p>We belive in data security and will never sell any of your data to
            an external company. For full details, a Policy Policy and Terms of
            Service will be provided soon.</p>

            <h3>Sign up today!</h3>
            <p><a href="/user/signup">Create</a> your own free account and start
            adding your own RSS/Atom feeds <b>today</b>.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="container license">
      <div class="row">
        <hr>
        <div class="col s8 offset-s2">
          <p>Images above are licensed under CC License 2.0</p>
          <ul>
            <li>
              <a href="https://flic.kr/p/dK7pK3">
                Wood Lark with Prey by Vinoth Chander
              </a>
            </li>
            <li>
              <a href="https://flic.kr/p/9FwMeR">
                Untitled by Amy Truter
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
<% include partials/footer.ejs %>
