<% include partials/header.ejs %>
    <div class="homepage-wrapper">
      <div class="container">
        <div class="row section white">
          <div class="col s8 offset-s2">
            <h3>All your feeds in one place</h3>
            <p>Use Feedlark to increase your awareness of the world around you.<br>
            Or just use it for your own tailored meme place. <br>
            We don't mind, and that's where feedlark <b>shines</b></p>
          </div>
        </div>
      </div>

      <div class="parallax-container">
      <div class="parallax">
          <img src="./images/banner2.png">
        </div>
      </div>

      <div class="container">
        <div class="row section white">
          <div class="col s8 offset-s2">
            <h3>Free</h3>
            <p><b>No</b> fees, <b>No</b> microtransactions, <b>No</b> smallprint. For ever. Probably.</p>
          </div>
        </div>
      </div>

      <div class="parallax-container">
      <div class="parallax">
          <img src="./images/banner.png">
        </div>
      </div>

      <div class="container">
        <div class="row section white">
          <div class="col s8 offset-s2">
            <h3>Sign up today!</h3>
            <p>Create your own free account <b>today</b> and start adding your own feeds.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="container license">
      <div class="row">
        <hr>
        <div class="col s8 offset-s2">
          <p>Images above are licensed under CC License 2.0</p>
          <ul>
            <li>
              <a href="https://flic.kr/p/dK7pK3">
                Wood Lark with Prey by Vinoth Chander
              </a>
            </li>
            <li>
              <a href="https://flic.kr/p/9FwMeR">
                Untitled by Amy Truter
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
<% include partials/footer.ejs %>
