<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col s6">
      <h3>Hello, <%= session.username %></h3>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>
