<% include partials/header.ejs %>

<div class="container">

  <nav class="center blue wave-effect waves-light">
    <ul id="nav-mobile" class="hide-on-med-and-down">
	  <li><a href="/user">Home</a></li>
	  <li><a href="/user/settings">Settings</a></li>
	  <li><a href="/user/tokens">Plaintext</a></li>
    </ul>
  </nav>

  <div class="row">
	<div class="col s6 offset-s3">
	  <h4 class="center-align">These are your settings <%= user.username %>.</h4>
	</div>
  </div>
  <div class="row center">
    <ul class="collection">
	  <li><p>Username: <%= user.username %></p></li>
	  <li><p>Email: <%= user.email %></p></li>
	  <li><p>Email Verification Status: <%= user.verified %></p></li>
    </ul>
  </div>
</div>
<% include partials/footer.ejs %>
