<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col s12 center">
      <h3>Terms of Service</h3>
      <p>1. Terms</p>
      <p>By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.</p>
      <p>2. Use Licence</p>
      <p>
      Permission is granted to download one or more copies of the materials (information or software) on Feedlark's website for any use. This is the grant of a license, not a transfer of title, and under this license you may not:<br />
      attempt to decompile or reverse engineer any software running on Feedlark's web site;<br />
      remove any copyright or other proprietary notations from the materials; or<br />
      This license shall automatically terminate if you violate any of these restrictions and may be terminated by Feedlark at any time.<br />
      </p>
      <p>3. Disclaimer</p>
      <p>
      The materials on Feedlark's web site are provided "as is". Feedlark makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Feedlark does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
      </p>
      <p>4. Limitations</p>
      <p>
      In no event shall Feedlark or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Feedlark's Internet site, even if Feedlark or a Feedlark authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
      </p>
      <p>5. Revisions and Errata</p>
      <p>
      The materials appearing on Feedlark's web site could include technical, typographical, or photographic errors. Feedlark does not warrant that any of the materials on its web site are accurate, complete, or current. Feedlark may make changes to the materials contained on its web site at any time without notice. Feedlark does not, however, make any commitment to update the materials.
      </p>
      <p>6. Links</p>
      <p>
      Feedlark has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Feedlark of the site. Use of any such linked web site is at the user's own risk.
      </p>
      <p>7. Site Terms of Use Modifications</p>
      <p>
      Feedlark may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
      </p>
      <p>8. Governing Law</p>
      <p>
      Any claim relating to Feedlark's website shall be governed by the laws of the Republic of Ireland without regard to its conflict of law provisions.
      </p>
      <p>
      General Terms and Conditions applicable to Use of a Web Site.
      </p>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>
