<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col s12 center">
      <h3>Your account is not activated!</h3>
      <p>Whether you just made your account, or it's a decade since you last visited this site, we still need you to activate your account.<br />
      	Check the inbox of whatever email account you used to log in / sign up for an email from <code>no-reply@feedlark.com</code>. <br />
      	It will contain an activation link which you must click to start using your account.</p>
      <br>
      <p><b>NOTE:</b> If you activate your account on another device, please log in and out on this device for the activation to register.</p>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>
