<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col s12 center">
      <h3>You have been assimilated!</h3>
      <p>Thanks for activating your account. You can now click <a href="/feeds">THESE CAPITAL LETTERS</a> to start adding feeds to your stream &amp; using Feedlark.</p>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>
